*.jar
!/gradle/wrapper/gradle-wrapper.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
*.log
target/
build/
*.iml
*.ipr
*.iws
.gradle/
.settings/
.classpath
.project
.metadata/
.idea/
.mvn/
client.logRoot_IS_UNDEFINED/
item-starter/client.logRoot_IS_UNDEFINED/
logs/
dev.properties
dependency-reduced-pom.xml
*.rdb
log/
*.plantuml
!application-*.yml
!*/src/test/resources/application-*.yml
*.bak
node_modules/*
/node_modules/
qqconnect.*
item-starter/src/test/resources/requests/item/test/generated/**/*.json
AclFacadeMockImpl.java
loggingPath_IS_UNDEFINED/